name: inuaa
on:
  schedule:
  - cron:  '0 0 * * *'
  workflow_dispatch:

jobs:
  send_message:
    runs-on: ubuntu-latest
    name: check

    steps:
    - name: checkout
      uses: actions/checkout@v3
      with:
        ref: action

    - name: sender
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
        architecture: 'x64'
    - run: pip install -r ./requirements.txt && python ./main.py

    env:
      DATABASEID: ${{ secrets.DATABASEID }}
      TOKEN: ${{ secrets.TOKEN }}